# Built application files
*.apk
*.ap_

# IntelliJ
*.iml
/.idea/*
/.idea/workspace.xml
/.idea/libraries

# Android
.gradle/
/captures
/**/build

# Java class files
*.class

# Local configuration file
/local.properties

# Merge conflict files
*.bak
*.orig

# Sample apps temp folders

# OS Files
.DS_Store