# Local configuration file (sdk path, etc)
/local.properties

.DS_Store

# Built app files
*.apk
*.ap_

# Java Class Files
*.class

# Android Gradle Files
.gradle/
build/

# log files
*.log

# Android Studio captures folder
/captures

# Merge conflict files that shouldn't be in remote repo
*.bak
*.orig

# IntelliJ folders
/.idea/*
/.idea/workspace.xml
/.idea/libraries
*.iml

/app/.idea/*
/app/.idea/workspace.xml
/app/.idea/libraries
/app/*.iml

# sample app's test folder
_samples/WifiDirect/wifi-direct-chat/app/build/tmp